/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.6;
}

h1,
p {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1;
}

img,
canvas,
picture,
figure {
  display: block;
  max-width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

/* CUSTOM PROPERTIES */
:root {
  /* COLORS */

  /* primary */
  --clr-bright-orange: hsl(31, 77%, 52%);
  --clr-dark-cyan: hsl(184, 100%, 22%);
  --clr-very-dark-cyan: hsl(179, 100%, 13%);

  /* neutral */
  --clr-white: hsla(0, 0%, 100%, 0.75);
  --clr-very-light-gray: hsl(0, 0%, 95%);
  --clr-transparent: hsl(0, 0%, 95%, 0);

  /* TYPOGRAPHY */
  --ff-primary: "Lexend Deca", sans-serif;
  --ff-secondary: "Big Shoulders Display", sans-serif;
  --fs-primary: 0.9375rem;
  --fw-400: 400;
  --fw-700: 700;
}

/* UTILITY CLASSES */
.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.card--bright-orange {
  --card-clr: var(--clr-bright-orange);
}

.card--dark-cyan {
  --card-clr: var(--clr-dark-cyan);
}

.card--very-dark-cyan {
  --card-clr: var(--clr-very-dark-cyan);
}

/* GENERAL STYLING */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: var(--clr-white);
  background-color: var(--clr-very-light-gray);
  padding-block: 4rem;
}

main {
  place-items: center;
  gap: 1rem;
}

.container {
  padding-inline: 2rem;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    width: min(65rem, 90%);
    flex-basis: 100%;
  }
}

.container [class*="card--"] {
  background-color: var(--card-clr, brown);
  padding: 2.5rem;
  gap: 2.5rem;
}

.card__title {
  font-family: var(--ff-secondary);
}

.container [class*="card--"]:first-child {
  border-radius: 10px 10px 0 0;
}

.container [class*="card--"]:last-child {
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 600px) {
  .container [class*="card--"]:first-child {
    border-radius: 10px 0 0 10px;
  }

  .container [class*="card--"]:last-child {
    border-radius: 0 10px 10px 0;
  }
}

.container [class*="card--"] .button {
  display: inline-block;
  color: var(--card-clr, yellow);
  font-weight: var(--fw-700);
  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--clr-very-light-gray) 50%,
    var(--clr-transparent) 50%
  );
  background-size: 23rem;
  background-position: left;
  border-radius: 100px;
  border: 2px solid var(--clr-very-light-gray);
  margin-top: 2.5rem;
  padding: 0.5rem 1.5rem;
  align-self: end;
  width: 11.5rem;
  transition: background-position 0.6s ease-in-out, color 0.75s ease-in-out;
}

.container [class*="card--"] .button:is(:focus, :hover) {
  color: var(--clr-very-light-gray);
  background-position: right;
}

/* ATTRIBUTION */
.attribution {
  font-size: 1rem;
  color: var(--clr-bright-orange);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
